<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
  <head>

    <title>Calculator</title>

    <meta charset="utf-8">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.23/themes/smoothness/jquery-ui.css" rel="stylesheet" type="text/css" media="all" />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.23/jquery-ui.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.js"></script>
    <script src="./jquery/jqueryHome.js"></script>


    <script src="./javascripts/CalciCntrl.js"> </script>

  </head>
  <body>
  <div id="header" >
    <h1>Calculator</h1>
  </div>
    <div ng-app= "Calculator" ng-controller = "CalcControl">
      <div id = "divSignUp" class = "col-sm-12" style="background-color:rgb(72,187,176)">
        <h1 class=" header">Perform Your Operations!</h1>
        <form >
          <div class="form-group col-sm-7 ">
            <p>First Number :</p>
            <input type="number"  ng-model="first_num" ng-required = "true">
          </div>
          <div class="form-group col-sm-7 ">
            <p>Second Number :</p>
            <input type="number" ng-model="second_num" ng-required = "true"></p>
          </div>
          <div class="form-group col-sm-7 ">
            <p>Result : {{ result }} </p>
          </div>
          <div class="form-group col-sm-7 ">
            <button ng-click="addnum()" id = "button1">Addition</button>
            <button ng-click="subtractnum()"id = "button1">Subtract</button>
            <button ng-click="multiplynum()"id = "button1">Multiply</button>
            <button ng-click="dividenum()"id = "button1">Divide</button>
          </div>
        </form>
    </div>
      </div>
  </body>
</html>
